<?xml version="1.0" encoding="UTF-8"?>
<Module>
  <ModulePrefs title="GeePivo"
    description="Create Pivotal Tracker stories from emails"
    height="50"
    author="Wojciech Kruszewski (OXOS.pl)"
    author_email="wojciech@oxos.pl"
    author_location="Nowa Sól, Poland">

    <!-- Declare feature dependencies. -->

    <!-- This one is not specific to Gmail contextual gadgets. -->
    <Require feature="dynamic-height"/>
    
    <Require feature="setprefs"/>

    <!-- The next feature, Caja, is optional, and is supported for
     use only within test domains. Uncomment the tag only for
     non-production gadgets. -->
    <!-- <Require feature="caja"/> -->

    <!-- The next feature, google.contentmatch, is required for all
     Gmail contextual gadgets.
     <Param> - specify one or more comma-separated extractor IDs in
     a param named "extractors". This line is overridden by the extractor ID
     in the manifest, but is still expected to be present. -->
    <Require feature="google.contentmatch">
      <Param name="extractors">
        google.com:SubjectExtractor
      </Param>
    </Require>

  </ModulePrefs>

  <!-- Define the content type and display location. The settings
   "html" and "card" are required for all Gmail contextual gadgets. -->
  <Content type="html" view="card">
      <![CDATA[	<span></span>

      <div id='gadget_container' style='position:relative; display: none; margin:0px; padding:0px;'></div>
      <p style='display: none;'><%=@git_revision%></p>

      <script src="<%=@root_url%>/javascripts/head.load.min.js"></script>
      <script type="text/javascript">
	head.js(
	  "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js",
	  "<%=@root_url%>/javascripts/story.js",
	  "<%=@root_url%>/javascripts/project.js",
	  "<%=@root_url%>/javascripts/gadget.js",
	  "<%=@root_url%>/javascripts/templates/gadget.js",
	  function(){ window.initializeGeepivoGadget() }
	);
      </script>
      ]]>
  </Content>
</Module>

